@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgb(3, 2, 16);
  border-radius: 5px;
}
::-webkit-scrollbar {
  width: 5px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: grey;
}

.single-movie {
  @apply before:bg-black/90 before:absolute before:w-full before:h-full before:top-0 before:left-0 before:right-0 before:bottom-0 overflow-auto;
}
